.fixed-bottom-element {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgb(206, 212, 218);
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  padding: 50px 0 50px 0;
  background-color: white;
}

.center-content {
  width: 50%;
}

#output {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.test {
  border: 1px solid rgb(206, 212, 218);
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 30px;
}